<Configuration status="WARN" monitorInterval="30">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"/>
    </Console>


    <RollingRandomAccessFile name="RollingRandomAccessFile"
      fileName="${catalina.home}/logs/casebox.log"
      filePattern="${catalina.home}/logs/casebox.log.%i">

      <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"/>

      <Policies>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
      <DefaultRolloverStrategy fileIndex="min" max="10"/>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <Logger name="org.springframework" level="WARN"/>
    <Logger name="org.springframework.transaction" level="WARN"/>
    <Logger name="org.hibernate" level="WARN"/>
    <Logger name="se.inera.ifv.casebox.services" level="DEBUG"/>

    <Root level="WARN">
<!--      <AppenderRef ref="Console"/>-->
      <AppenderRef ref="RollingRandomAccessFile"/>
    </Root>

  </Loggers>
</Configuration>
