<Configuration status="ERROR" monitorInterval="30">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <JsonLayout complete="true" compact="false"  includeTimeMillis="true">
        <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}" />
      </JsonLayout>
    </Console>

    <RollingRandomAccessFile name="RollingRandomAccessFile"
      fileName="c:/tmp/casebox/casebox.log"
      filePattern="c:/tmp/casebox/casebox/casebox.log.%i">
      <JsonLayout complete="true" compact="false"  includeTimeMillis="true">
        <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}" />
      </JsonLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
      <DefaultRolloverStrategy fileIndex="min" max="10"/>
    </RollingRandomAccessFile>

  </Appenders>

  <Loggers>
    <Logger name="org.springframework" level="INFO"/>
    <Logger name="org.springframework.transaction" level="ALL"/>
    <Logger name="org.hibernate" level="INFO"/>

    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingRandomAccessFile"/>
    </Root>

  </Loggers>
</Configuration>
